* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0D1117;
}

::-webkit-scrollbar {
    width: 0
}

.container {
    background: #151B23;
    border-radius: 12px;
    padding: 25px;
    height: 65%;
    overflow-y: scroll;
    border: 1px solid gray;
}

.header {
    display: flex;
    justify-content: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    padding: 2px 0;
}

.header svg {
    height: 40px;
    width: 40px;
    color: white;
}

h1 {
    padding-bottom: 20px;
    color: white;
}

.taskDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.taskDiv input {
    height: 2.8rem;
    width: 300px;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 15px;
}

.taskDiv button {
    background: white;
    height: 2.8rem;
    width: 3.5rem;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    color: #ff4d39;
}

.taskDiv button:hover {
    background: rgb(245, 245, 245);
    color: #FF7160;

}

#listContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8px;
    position: relative;
}

.list-item {
    background: white;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    max-width: 360px;
}


#listContainer li span {
    cursor: pointer;
    height: 25px;
    width: 25px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    right: 10px;
    color: black;
    background: rgb(239, 239, 239);
    border: 1px solid rgb(200, 200, 200);
}

#listContainer li span:hover {
    background: rgb(230, 230, 230);
    border: 1px solid rgb(200, 200, 200);
    color: red;
}

#listContainer li::before {
    content: '';
    height: 19px;
    width: 19px;
    /* border-radius: 50%; */
    background-image: url('images/unchecked.png');
    background-size: cover;
    background-position: center;
}

#listContainer li.checked::before {
    background-image: url('images/checked.png');
}

.checked {
    color: rgb(89, 89, 89);
    text-decoration: line-through;
}

@media screen and (max-width:360px) {
    .container {
        width: 320px;
        height: 70%;
    }
}